<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>

	<!-- Styles -->
	<link href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap" rel="stylesheet"> 
	{{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
	{{- with resources.Get "./scss/main.scss" | toCSS $opts | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
	{{ end }}
	
	<!-- Scripts -->
	<script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js" async></script>
	<script src="https://kit.fontawesome.com/804271e0af.js" crossorigin="anonymous"></script>